doctype 5
html
  head
    title= title
    script(src='/javascripts/angular.min.js')
  body
      #main(ng-app='sample')
        h1= title
        #content(ng-view) Generated on server-side

      script.
        function HomeController($scope){
            $scope.message = 'Generated on client-side';
        };

        var module = angular.module('sample', []);
        module.config(function($routeProvider, $locationProvider) {
            $locationProvider.html5Mode(false).hashPrefix('!');
            $routeProvider.
                when('/home', {templateUrl: '/templates/home.html',   controller: HomeController}).
                otherwise({redirectTo: '/home'});
        });
